.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ring {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.background {
    stroke: var(--border);
    fill: transparent;
}

.progress {
    stroke: var(--primary);
    fill: transparent;
    transition: stroke-dashoffset 0.35s;
    stroke-linecap: round;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.percentage {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--foreground);
    line-height: 1;
}

.label {
    font-size: 0.6rem;
    opacity: 0.6;
    text-transform: uppercase;
    margin-top: 2px;
}